:root {
  --primary-color: rgb(0, 66, 110);
  --secondary-color: rgb(144, 217, 247);
  --terciary-color: rgb(164, 188, 211);
  --primary-dark-color: rgb(0, 23, 37);
  --white: rgb(255,255,255);
  --text-color: rgb()
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.poll-app-container {
  background: #6190E8;
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
  background: linear-gradient(to right, #A7BFE8, #6190E8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 53px;
  font-family: 'Oleo Script', cursive;
  color: var(--primary-color);
}

.button {
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  min-width: 90px;
  min-height: 38px;
  padding: 7px;
  height: auto;
  width: auto;
  border-radius: 20px;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  transition: background-color .75s;
}

.button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}


.button:active {
  color: var(--terciary-color);
  background-color: var(--primary-dark-color);
}

.poll-card {
  background-color: var(--terciary-color);
  border-radius: 10px;
  box-shadow: 0 0 3.5px rgba(0, 0, 0);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  background-color: var(--primary-dark-color);
  color: var(--terciary-color);
  border: none;
  border-radius: 7px;
  font-family: 'Roboto', "Helvetica Neue";
  width: 130px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.poll-option::placeholder::after {
  content: 'Test';
  color:  var(--terciary-color);
}

.add-poll-option {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}