body {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.panel-container {
  width: 70vw;
}

.panel-container .input-control {
  max-width: 100px;
}

.panel-container .result-panel {
  width: 700px;
  height: 700px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}